.list-inline{
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
font-size: 75px;
padding: 30px
}
.list-line li{
padding: 80px;
}
.list-inline a{
color:snow;
}
.list-inline a:hover{
color: darkblue;
}